body {background:#f2f2f2;}

#maxui-container a {text-decoration: none;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;color:#007bc0; }
#maxui-container a:hover {text-decoration:underline; color:#005ea0;}

#maxui-container {text-shadow: 0 1px #fff; font:13px/18px Arial, "HelveticaNeue","Helvetica Neue",Helvetica,sans-serif;color:#333;}

.activities .maxui-activity {border-top: 1px #fff solid;border-bottom: 1px #ccc solid;width:100%;float:left;padding:8px 0;padding-left:0; min-height:51px;}

#maxui-timeline  .wrapper {height:100%;}

#maxui-newactivity {padding:0 0 10px; position:relative;}
#maxui-newactivity:after {content: "";display: block;height: 0;clear: both;}

#maxui-newactivity textarea, .maxui-comments textarea {
width:100%;
color:#666;
height:48px; min-height:48px;
border: 1px #b2b2b2 solid;
position:relative;
padding:0 3px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff;
font-size: 13px;line-height: 18px;
overflow: auto;resize: vertical ;
}
#maxui-newactivity textarea:focus, .maxui-comments textarea:focus {color:#333;}

.maxui-newcommentBoxContainer {padding-right:0 5px;padding-top:5px;}

.maxui-comment {padding:1px 0 0;}
	.maxui-comments textarea {width:100%;}
.maxui-commentsbox {min-height:32px;}
.maxui-newcommentbutton {text-align:right;}

#maxui-newactivity textarea, .maxui-comments textarea {
width:97.75% \0/;
*width:97.75%;
height:45px \0/;
min-height:45px \0/;
*height:45px;
*min-height:45px;
}

input.load {width:100% !important; margin:10px 0 !important;}
input.send, input.load {
border:1px solid #b2b2b2;
border-radius:3px;

margin: 5px 0 0 0;
font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
font-size:13px;
padding:3px 6px;
color:#007bc0;
background: #f2f2f2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ffffff,  #f2f2f2); /* for firefox 3.6+ */
}
input.send:hover, input.load:hover, input.send:focus, input.load:focus {border:1px solid #999; background: #f2f2f2; cursor:pointer; color:#005ea0; box-shadow:0 1px 5px rgba(0,0,0,.1);}
input.send:active, input.load:active {background: #e5e5e5;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f2f2f2'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#f2f2f2)); /* for webkit browsers */background: -moz-linear-gradient(top,  #e5e5e5,  #f2f2f2); /* for firefox 3.6+ */ color:#666;}

#maxui-timeline {clear:both;margin:0;border-top: 1px #ccc solid;overflow: hidden;}

	.activities .maxui-avatar img {float:left;}
	.maxui-avatar img {width:48px;
		-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
		-moz-box-shadow:0 1px #fff;-webkit-box-shadow:0 1px #fff;box-shadow:0 1px #fff;
	}

.activities .maxui-activity-content {margin:-5px 0 0 55px;}
	.activities .maxui-comments .maxui-activity-content {
		margin-left:41px;
		margin-right:0;
		margin-top:0;
		margin-bottom:18px;
		position:relative;
	}
.maxui-activity-content a {position:relative;}
.activities .maxui-footer {}
#maxui-newactivity div {}

#maxui-newactivity .textbox {margin-left:56px;width:auto; text-align:right;}

.maxui-clear {clear:both;float:none;}

.maxui-displayname {font-weight: bold;}

.maxui-username {color: #767676;font-size:93%;}

p.maxui-body {margin:0;font-size:13px;}
	.maxui-comment .maxui-activity-content p.maxui-body {font-size:12px !important;}

.maxui-publisheddate{
font-size:11px;
color:  #767676;
float:right;
padding-top:1px;
}

.maxui-actions a{
display:inline;
margin-left: 56px;
padding-right:10px;
}
.maxui-actions a.maxui-commentaction {
font-size:11px;
background: url('../img/maxcomm.png') no-repeat 0 2px;
color:#007bc0;
text-decoration:none;
padding-left:18px;
cursor:pointer;
}
.maxui-actions a.maxui-commentaction:hover {
color:#005ea0;
background-position: 0 -18px;
text-decoration:underline;
}
.maxui-comments {
margin-left:56px;
width:auto;
margin-top:0;

}
.maxui-comments .maxui-activity-content, .maxui-comments .maxui-activity-content .maxui-body {font-size:93% !important; line-height: 15px;}

.maxui-comments .maxui-avatar {
margin-left:0!important;

}

.maxui-comments .maxui-avatar img {
width:36px!important;
height:36px!important;
}


#maxui-search-filters .maxui-filter {
float:left;
padding:5px;
}

#maxui-search-filters .maxui-filter span{
padding:2px 2px 2px 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-size:13px;

background-color:#2D6987;
color:white;
width:auto;

}

#maxui-search-filters .maxui-filter .close{
color : #ddd;
font-weight:bold;
padding: 0 5px;
}




#maxui-newactivity .maxui-avatar {left:0; top:0; position:absolute;}
#maxui-container a img {border:0;}

.maxui-avatar {position: relative;	max-width: 100%;float: left; position: absolute;left: -55px; top: 5px;}
	.maxui-avatar:before, .maxui-avatar::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
		-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.5);
		-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.5);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.5), inset 0 0 4px rgba(0,0,0,.25);
	}
	.maxui-avatar a {display:block; height:48px; }
	.maxui-comments .maxui-avatar a { height:36px;}
	.maxui-avatar img {float: left;	}
	.maxui-comments .maxui-avatar {margin-top:5px; position: absolute;left: -41px; top:0;}
