

#maxui-container a {
text-decoration: none;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#maxui-container {
font:13px/20px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
color:#222;
}

#maxui-activities .maxui-activity {
border-bottom: 1px #ddd solid;
width:100%;
float:left;
padding:5px;
padding-left:50px;
}

#maxui-timeline  .wrapper{
    height:100%;

}


#maxui-newactivity {
    padding:5px;
}

#maxui-newactivity:after {
content: "";
display: block;
height: 0;
clear: both;
}

#maxui-newactivity textarea, .maxui-comments textarea {
width:100%;
height:50px;
border: 1px #ccc solid;
border-radius: 4px;
font:inherit;
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;
box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;
font-size: 13px;
line-height: 18px;

}

.maxui-comments textarea {
width:60%;
}

#maxui-newactivity input.send {
float:right;
margin:5px 0;
}

#maxui-timeline {
clear:both;
margin:10px 0;
border-top: 1px #ddd solid;
overflow: hidden;
}

#maxui-activities .maxui-avatar {
    float:left;
    margin-left:-50px;
    padding-left:5px;
}

#maxui-activities .maxui-avatar img{
float:left;
}

.maxui-avatar img {
width:48px;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
border-radius:5px;
}

#maxui-activities .maxui-activity-content {
margin-left:10px;
margin-right:50px;
}

#maxui-activities .maxui-footer {
float:right;
text-align: right;
margin-right:50px;
}


#maxui-newactivity div {
float:left;
}

#maxui-newactivity .textbox {
margin-left:5px;
width:86%; /* FIX THIS !!!*/
}

.maxui-clear {
clear:both;
float:none;
}

.maxui-displayname {
font-weight: bold;
color: #333;
}

.maxui-username {
color: #aaa;
}

p.maxui-body {
margin:0;
font-size:14px;
}


.maxui-publisheddate{
font-style: italic;
font-size:11px;
color:  #999;
}


.maxui-actions ul {
margin:0;
}

.maxui-actions ul li{
display:inline;
}

.maxui-actions ul li {
padding-right:10px;
}
.maxui-actions ul li span.maxui-commentaction{
font-size:12px;
background: url('http://beta.upcnet.es/igas/comments.png') no-repeat 0 3px;
color:#444;
text-decoration:none;
padding-left:15px;
cursor:pointer;
}

.maxui-comments {
margin-left:70px;
width:100%;
margin-top:10px;

}

.maxui-comments .maxui-avatar {
margin-left:-30px!important;
padding-top:5px;

}

.maxui-comments .maxui-avatar img {
width:30px!important;

}


#maxui-search-filters .maxui-filter {
float:left;
padding:5px;
}

#maxui-search-filters .maxui-filter span{
padding:2px 2px 2px 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-size:12px;

background-color:#2D6987;
color:white;
width:auto;

}

#maxui-search-filters .maxui-filter .close{
color : #ddd;
font-weight:bold;
padding: 0 5px;
}