/*aquest es per tenir una linia dibuixada*/
#maxui-container{border:1px solid #ccc;}


#maxui-container a {text-decoration: none;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;color:#007bc0;}

#maxui-container a:hover {text-decoration:underline; color:#005ea0;}

#maxui-container {text-shadow: 0 1px #fff; font:13px/18px Arial, "HelveticaNeue","Helvetica Neue",Helvetica,sans-serif;color:#333;}

#maxui-preload {height:0px;}
.activities .maxui-activity {border-top: 1px #fff solid;border-bottom: 1px #ccc solid;width:100%;float:left;padding:8px 0;padding-left:0; min-height:51px;}

#maxui-timeline .wrapper {}

#maxui-newactivity {padding:10px; position:relative; background: #f2f2f2 url('https://max.upc.edu/maxui/bgact.gif') 0 0 repeat;}
#maxui-newactivity:after {content: "";display: block;height: 0;clear: both;}

#maxui-newactivity textarea, .maxui-comments textarea {
width:100%;
color:#666;
height:48px; min-height:48px;
border: 1px #b2b2b2 solid;
position:relative;
padding:0 3px;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff;
font-size: 13px;line-height: 18px;
overflow: auto;resize: vertical ;
}
#maxui-newactivity textarea:focus, .maxui-comments textarea:focus {color:#333;}

.maxui-newcommentBoxContainer {padding-right:0 5px;padding-top:5px;}

.maxui-comment {padding:1px 0 0;}
	.maxui-comments textarea {width:100%;}

.maxui-newcommentbox {text-align:right;}

#maxui-newactivity textarea, .maxui-comments textarea {
width:97.75% \0/;
*width:97.75%;
height:45px \0/;
min-height:45px \0/;
*height:45px;
*min-height:45px;
}

#maxui-more-activities input.maxui-button {width:100% !important; margin:10px 0 !important;}
.maxui-button {*overflow: visible}

input.maxui-button {
border:1px solid #015ea4;
border-radius:3px;
margin: 5px 0 0 0;
font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
font-size:13px;
padding:3px 6px;
color:#fff;
text-shadow: 0 -1px rgba(0,0,0,.5);
background: #007bc0;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#007bc0'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#33bbee), to(#007bc0)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #33bbee,  #007bc0); /* for firefox 3.6+ */
}
input.maxui-button:hover, input.maxui-button:hover, input.maxui-button:focus, input.maxui-button:focus {border:1px solid #003f6e; background: #007bc0; cursor:pointer; color:#fff; box-shadow:0 1px 5px rgba(0,0,0,.1);}
input.maxui-button:active, input.maxui-button:active {background: #e5e5e5;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005ea0', endColorstr='#007bc0'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#005ea0), to(#007bc0)); /* for webkit browsers */background: -moz-linear-gradient(top,  #005ea0,  #007bc0); /* for firefox 3.6+ */ color:#fff;}


#maxui-more-activities input.maxui-button {
border:1px solid #b2b2b2;
border-radius:3px;
margin: 5px 0 0 0;
font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
font-size:13px;
padding:3px 6px;
color:#007bc0;
background: #f2f2f2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ffffff,  #f2f2f2); /* for firefox 3.6+ */
text-shadow: 0 1px #fff;
}

#maxui-more-activities input.maxui-button:hover, #maxui-more-activities input.maxui-button:hover, #maxui-more-activities input.maxui-button:focus, #maxui-more-activities input.maxui-button:focus {border:1px solid #999; background: #f2f2f2; cursor:pointer; color:#005ea0; box-shadow:0 1px 5px rgba(0,0,0,.1);}
#maxui-more-activities input.maxui-button:active, #maxui-more-activities input.maxui-button:active {background: #e5e5e5;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f2f2f2'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#f2f2f2)); /* for webkit browsers */background: -moz-linear-gradient(top,  #e5e5e5,  #f2f2f2); /* for firefox 3.6+ */ color:#666;}

input.maxui-button[disabled] {-webkit-appearance: none;border:1px solid #b2b2b2; background:#e5e5e5; color:#666; text-shadow:0 1px #fff;  box-shadow:none; cursor: default; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#f2f2f2'); border-radius:3px;}


#maxui-timeline {clear:both;margin:0;overflow: hidden; padding:0 10px; background:#fff;}

	.activities .maxui-avatar img {float:left;}
	.maxui-avatar img {width:48px;
		-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
		-moz-box-shadow:0 1px #fff;-webkit-box-shadow:0 1px #fff;box-shadow:0 1px #fff;
	}

.activities .maxui-activity-content {margin:-5px 0 0 55px;}
	.activities .maxui-comments .maxui-activity-content {
		margin-left:41px;
		margin-right:0;
		margin-top:-5px;
		margin-bottom:18px;
		position:relative;
	}
.maxui-activity-content a {position:relative;}
.activities .maxui-footer {}
#maxui-newactivity div {}

#maxui-newactivity .maxui-avatar img {*position:absolute;}
#maxui-newactivity #maxui-newactivity-box {margin-left:56px;text-align:right;}

.maxui-clear {clear:both;float:none;}

.maxui-displayname {font-weight: bold;}

.maxui-username {color: #6e6e6e;font-size:93%;}

p.maxui-body {margin:0;font-size:13px;}
	.maxui-comment .maxui-activity-content p.maxui-body {font-size:12px !important;}

.maxui-publisheddate{
font-size:11px;
color:  #6e6e6e;
float:right;
padding-top:1px;
}

.maxui-actions a, .maxui-origin{
display:inline;
margin-left: 56px;
padding-right:10px;
}
.maxui-origin {color:#6e6e6e; font-size:11px; background:url('https://max.upc.edu/maxui/maxcomm.png') 0 -77px no-repeat; padding-left:10px;}
.maxui-actions a.maxui-commentaction {
font-size:12px;
background: url('https://max.upc.edu/maxui/maxcomm.png') no-repeat 0 2px;
color:#007bc0;
text-decoration:none;
padding-left:18px;
cursor:pointer;
}
.maxui-actions a.maxui-commentaction:hover {
color:#005ea0;
background-position: 0 -18px;
text-decoration:underline;
}
.maxui-comments {
margin-left:56px;
width:auto;
margin-top:5px;
background:#f2f2f2;
padding:5px; position:relative;
-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
}
.maxui-comments:before {
content: "";
display: block;
width: 0; height: 0;
position:absolute; margin-top:-12px;
border-left: 8px solid #fff;
border-right: 8px solid #fff;
border-bottom: 8px solid #f2f2f2;
}

.maxui-comments .maxui-activity-content, .maxui-comments .maxui-activity-content .maxui-body {}

.maxui-comments .maxui-avatar {
margin-left:0!important;

}

.maxui-comments .maxui-avatar img {
width:36px!important;
height:36px!important;
}

#maxui-search {border-top:1px solid #666; border-bottom:1px solid #666; background:#e5faff; padding:10px;}

#maxui-search.folded #maxui-search-filters {
display:none;
}

#maxui-search-filters .maxui-filter {
padding:2px 4px 2px 0;
margin-top:2px;
float:left;
}
#maxui-search-filters:before,
#maxui-search-filters:after {
    content:"";
    display:table;
}

#maxui-search-filters:after {
    clear:both;
}

#maxui-search-filters {
    zoom:1;
	padding-left:56px;

}

#maxui-search-filters .maxui-filter span{
padding:0 2px 3px 4px;
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
-moz-box-shadow:0 1px 0 #fff;-webkit-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;
text-shadow: 0 -1px rgba(0,0,0,.5);
background-color:#007ca5;
color:#fff;
border:1px solid #006989;
display:block;
}
#maxui-search-filters .maxui-filter span.hashtag {background-color:#008564;border:1px solid #007355;}
#maxui-search-filters .maxui-filter span.person {background-color:#837800;border:1px solid #706923;}

#maxui-search-filters .maxui-filter .close{
padding: 0 2px 0 4px;
opacity:.8; filter: alpha(opacity=80);
position: relative;
top: 3px;
}
#maxui-search-filters .maxui-filter .close img{width:14px; height:15px; margin:0;}
#maxui-search-filters .maxui-filter .close:hover {opacity:1; filter: alpha(opacity=100);}

#maxui-search-text {
-webkit-appearance: none; -moz-appearance:none; appearance:none;
width:100%;
width:97.5% \0/;
*width:97.5%;
color:#666;
height:24px; min-height:24px;
border: 1px #b2b2b2 solid;
position:relative;
padding:1px 5px;
-moz-border-radius: 3em; -webkit-border-radius: 3em; border-radius: 3em;
font-family: Arial, Helvetica, sans-serif;
-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1),0 1px 0 #fff;
font-size: 13px;line-height: 20px;
}

#maxui-search-toggle {float:left;}

#maxui-search-box {padding-left:56px; width:auto; text-align:right;}

#maxui-newactivity .maxui-avatar {left:0; top:0; position:relative;}
#maxui-container a img {border:0;}

.maxui-avatar {position: relative;	max-width: 100%;float: left; position: absolute;left: -55px; top: 5px;}
	.maxui-avatar:before, .maxui-avatar::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
		-moz-box-shadow: inset 0 0 8px rgba(0,0,0,.5);
		-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.5);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.5), inset 0 0 4px rgba(0,0,0,.25);
	}
	.maxui-avatar a {display:block; height:48px; }
	.maxui-comments .maxui-avatar a { height:36px;}
	.maxui-avatar img {float: left;	}
	.maxui-comments .maxui-avatar {margin-top:5px; position: absolute;left: -41px; top:0;}

#maxui-search a img {width:14px; height:8px; background: url('https://max.upc.edu/maxui/maxcomm.png') 2px -60px no-repeat; margin:8px 5px 0; opacity:.8;  filter: alpha(opacity=80);}
#maxui-search.folded a img {background-position: 2px -40px;}
#maxui-search a img:hover {opacity:1;  filter: alpha(opacity=100);}
#maxui-search a.maxui-disabled img {background-position: 2px -100px; }
#maxui-search a.maxui-disabled {cursor:default;}

img { -ms-interpolation-mode: bicubic; image-rendering: optimizeQuality;}


#maxui-container .maxui-text-input {
     outline: none;
     -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
     transition: .3s ease-in-out;
 }

#maxui-container textarea:focus, #maxui-container input[type="search"]:focus {
	border: 1px solid #4999cb !important;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(0,123,192,.5) !important;
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(0,123,192,.5) !important;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(0,123,192,.5) !important;
 }
#maxui-container input:focus {
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(0,123,192,.5) !important;
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(0,123,192,.5) !important;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(0,123,192,.5) !important;
 }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		#maxui-search .obretanca, .maxui-actions a.maxui-commentaction, .maxui-origin
			{	background-image:url('https://max.upc.edu/maxui/maxcomm@2x.png');
				-moz-background-size: 12px 120px;
				-o-background-size: 12px 120px;
				-webkit-background-size: 12px 120px;
				background-size: 12px 120px;
			}
}
html { -webkit-text-size-adjust:none; }
