/* Font Faces */
@font-face {
font-family: 'ProximaNova-Bold';
src: url('/fonts/ProximaNova-Bold.eot');
}
@font-face {
font-family: 'ProximaNova-Bold';
src: url('/fonts/ProximaNova-Bold.woff') format('woff'),
url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
}
@font-face {
font-family: 'ProximaNova-Regular';
src: url('/fonts/ProximaNova-Regular.eot');
}
@font-face {
font-family: 'ProximaNova-Regular';
src: url('/fonts/ProximaNova-Regular.woff') format('woff'),
url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}
@font-face {
font-family: 'ProximaNova-LightIt';
src: url('/fonts/ProximaNova-LightItalic.eot');
}
@font-face {
font-family: 'ProximaNova-LightIt';
src: url('/fonts/ProximaNova-LightItalic.woff') format('woff'),
url('/fonts/ProximaNova-LightItalic.svg#ProximaNova-LightIt') format('svg');
} 

/*#container {
width:960px;
margin: 0 auto;
}*/

body { font-family: "ProximaNova-Regular", serif }

header {margin: 30px 0 30px 0;}
header h1 {margin: 0 0 30px 0; font-size: 25px}
#main h1 {font-family: "ProximaNova-Bold", serif; margin: 0 0 10px 0; font-size: 20px}
.activityBox{
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px #FFFFFF;
    color: #222222;
    height: 56px;
    width: 495px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    font-family: "ProximaNova-Regular", serif;
}

#activity button { text-align: right;}
.button-container {margin-top: 10px; text-align: right; width: 508px;}

textarea:focus {
	border-color: rgba(82, 168, 236, 0.75);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    padding: 5px 5px 5px 5px;
}

.commentBoxContainer {
    margin-left: 40px;
}

.commentBox {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px #FFFFFF;
    color: #222222;
    height: 40px;
    width: 456px;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    font-family: "ProximaNova-Regular", serif;
}

.newcommentbox .button-container button span {
    height: 13px;
    line-height: 1.1;
    font-size: 11px;
}

/* Login */
#login {
    margin: 7em auto;
    width: 320px;
}
#login h1 a {
    background: url("/static/logo_MAX_color.png") no-repeat scroll center top transparent;
    display: block;
    height: 67px;
    overflow: hidden;
    padding-bottom: 15px;
    text-indent: -9999px;
}

#loginform {
    -moz-border-radius: 11px 11px 11px 11px;
    -moz-box-shadow: 10px 10px 5px #C8C8C8;
    -webkit-box-shadow: 10px 10px 5px #C8C8C8;
    border-radius: 11px;
    box-shadow: 10px 10px 5px #C8C8C8;
    border: 1px solid #E5E5E5;
    margin-left: 8px;
    padding: 16px 16px 40px;
}

#user_pass, #user_login {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E5E5E5;
    font-size: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    padding: 3px;
    width: 97%;
}

/* User toolBox*/
#statusbox div.cell {
    padding-bottom: 20px;
}

#purr-container {
	position: fixed;
	top: 0;
	right: 0;
}

#statusBar {
	position: relative;
	width: 324px;
}

#statusBar .close	{position: absolute; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(/static/purrClose.png) no-repeat 0 10px;}

.statusBar-body {
	min-height: 50px;
	padding: 22px 22px 0 22px;
	background: url(/static/purrTop.png) no-repeat left top;
	color: #f9f9f9;
}
	.statusBar-body img	{width: 50px; margin: 0 10px 0 0; float: left;}
	.statusBar-body h3	{margin: 0; font-size: 1.1em;}
	.statusBar-body p		{margin: 5px 0 0 60px; font-size: 0.8em; line-height: 1.4em;}

.statusBar-bottom {
	height: 22px;
	background: url(/static/purrBottom.png) no-repeat left top;
}

#toolbox{
    list-style: none outside none;
    border-left: 6px solid rgba(82, 168, 236, 0.75);
    margin: 0 0 20px 0;
    height: 20px;
}
#toolbox li{
    display: inline;
    padding: 5px;
}
#toolbox li a{
    text-decoration: none;
    color: #2779AA;
}

#activityContainer .activity {
    margin-bottom:  10px;
}

#user_properties { margin-bottom: 10px;}

.user {font-family: "ProximaNova-Bold", serif; font-size: 21px;}
.body {font-family: "ProximaNova-Regular", serif; font-size: 18px;}
.date {font-family: "ProximaNova-LightIt", serif; }

.actions {float:right;}
.actions ul {list-style: none outside none; border-left: 3px solid rgba(82, 168, 236, 0.75)}
.actions li {display: inline;}
.actions li a {
    color: #444;
    font-size: 12px;
    text-decoration: none;
    border-right: 1px solid rgba(82, 168, 236, 0.75);
    display: inline-block;
    min-width: 4em;
    padding: 0px 13px;
    white-space: normal;}