@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.icon-max {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    padding-right: 10px;
}







